.containerLogin {
    display: flex;
    height: 100vh;
}

.loginSplitScreen {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.loginScreenLeft {
    flex: 40%;
}

.loginScreenRight {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerRegisterLogin{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 2%;
    background-color: rgb(238, 142, 64);
    border-radius: 50px;
    margin-bottom: 2% !important;

}

.registerFields{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 500px !important
}


.registerTittle {
    text-align: center;
    margin-top: 20px;

}
.buttonSubmitRegister{
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    width: 30%;
}
.LogInButtonChef{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    width: 30%;
    box-shadow: none !important;
}
.labelForm{
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
    align-items: left;
    justify-content: left;
}

.containerRegister{
    display: flex;
    align-content: center;
    justify-content: center;
}

