:root{
    --primary: #ff0000;
}

.btn{
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--primary{
    background: var(--primary);
    color: #fff;
}

.btn--outline{
    border: 1px solid var(--primary);
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-large{
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}