@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Esto para lo que encierra a las cards*/
.wrapper{      
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;   
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    
    
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200m ease-in;
    max-width: 300px;
    max-height: 500px;
    min-width: 300px;
    min-height: 400px;
    
}

.card .card-img-top{
    vertical-align:top;
    display: flex;
    align-items: flex-end;
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card .card-img-top-eliminable{
    vertical-align:top;
    display: flex;
    align-items: flex-end;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.card .card-tittle{
    padding: 1rem;
}

.card .card-description{
    padding: 0 1rem;
}

.cardRestaurant{
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200m ease-in;
    max-width: 300px;
    height: 400px;
    min-width: 300px;
   
}

.cardRestaurant .card-img-top{
    vertical-align:top;
    display: flex;
    align-items: flex-end;
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.cardRestaurant .card-body{
    padding: 50px;
}

.cardRestaurant .card-body .cardtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
}

.cardRestaurantEliminable{
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200m ease-in;
    max-width: 300px;
    height: 400px;
    min-width: 300px;
}

.cardRestaurantEliminable .card-img-top-eliminable{
    vertical-align:top;
    display: flex;
    align-items: flex-end;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}


.BoxMenuCard{
    background-color: #f8eadd;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    min-width: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 14px 10px 1px rgba(66, 66, 66, 0.75);
    padding: 20px;
}


