.imageprofile{
    float: left;
    width: 250px;
    height: 250px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
}

.imageprofile .image{
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.imageprofile .image .imagespecific{
    width: 100%;
    height: auto; 
}

.imageprofile .personalizeimage{
    filter: grayscale(100%);
    cursor: pointer;
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.imageprofile .personalizeimage .imagespecific{
    width: 100%;
    height: auto;  
}

.reviewimageprofile{
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    shape-outside: circle();
    clip-path: circle();
}

.reviewimageprofile .image{
    
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.imageprofile .personalizeimage .imagespecific{
    width: 100%;
    height: auto;  
}


.imageprofile .personalizeimage .imagespecific:hover{
    filter: grayscale(0%);
}

.imageprofile .personalizeimage .inputCoso{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}