.arrow-up {
    position: absolute;
    left: 88.5%;
    top: 110%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 998;

    border-bottom: 15px solid #c7c7c7;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerBell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.divposition {
    position: absolute;
    z-index: 999;
    left: 67%;
    top: 60px;
    width: 30%;
}

.notificationContainer {
    position: relative;
    display: flex;
    margin-right: 10px;
    margin-top: 30px;
    height: 100%;
    flex-direction: column;
    animation: 0.3s ease 0s 1 normal forwards running lbWRkT;
    background-color: #c7c7c7;
    padding: 20px;
    border-radius: 20px;
    z-index: 9999;
    max-width: 100%;
}

.notification {
    width: 100%;
    min-height: 40px;

    margin-bottom: 10px;
    box-shadow: 0 2px 2px -2px #494949;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    word-wrap: break-word;

}

.unseenMessage {
    font-family: 'Roboto', sans-serif;
    font-weight: 10;
    font-size: 20px;
    color: #000000;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    width: 70%;
}

.unseenDate {
    font-family: 'Roboto', sans-serif;
    font-weight: 10;
    font-size: 15px;
    color: #343434;
    text-align: end;
    width: 150px;
}

.alreadyReadMessage {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #383838;
    font-weight: 8;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 70%;
}

.alreadyDate {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 8;
    font-size: 15px;
    color: #606060;
    width: 150px;
}

.loadOldNotifications {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 10;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    background: var(--primary) !important;
    border-radius: 10px !important;
}

.redCircle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #23ff02;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    z-index: 20;
}
